.aboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    background-color: #ffebeb;
    box-sizing: border-box;
}

.textContainer {
    grid-column: 1 / 2;
    box-sizing: border-box;
    padding: 1rem 4rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.textContainer p {
    text-align: center;
}

.imageContainer {
    grid-column: 2 / 3;
    box-sizing: border-box;
    padding: 1rem 4rem 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .aboutContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 7fr 4fr
    }
    .imageContainer {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-items: flex-end;
        width: 100vw;
    }
    .textContainer {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 100vw;
        justify-content: flex-start;
    }
}

@media (max-width: 398px) {
    .imageContainer > * {
        width: calc(100vw - 3rem);
        height: auto;
    }
}
