.aboutContainer {
    display: grid;
    grid-template-columns: 6fr 4fr;
    width: 100vw;
    height: 100vh;
    background-color: #ffebeb;
    box-sizing: border-box;
}

.textContainer {
    grid-column: 0 1;
    box-sizing: border-box;
    padding: 1rem 4rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.imageContainer {
    grid-column: 1 2;
    box-sizing: border-box;
    padding: 1rem 4rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;

}