.notFoundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #EBC7C7;
}

.artPageContainer {
    display: grid;
    grid-template-columns: 5fr 6fr;
    width: 100vw;
    height: 100vh;
    background-color: #EBC7C7;
}

.artworkContainer {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    grid-column: 0 1;
    justify-content: center;
    align-items: center;
    position: relative;
}

.artworkBorder {
    height: 33%;
    position: absolute;
    right: 0;
    width: 0.125rem;
    background-color: #a0526282;
}

.artDescContainer {
    box-sizing: border-box;
    padding: 5rem;
    grid-column: 1 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.artDescContainer h1 {
    font-size: 2.5rem;
}

.artDescContainer p {
    margin-top: 0.5rem;
}