.artwork {
    box-sizing: border-box;
    padding: 1rem;
    background-color: white;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 1.5rem;
    gap: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease;
    cursor: pointer;
    z-index: 1;
}

.artwork:hover {
    transform: translate(0, -0.5rem);
}