.galleryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #EBC7C7;
    box-sizing: border-box;
    padding: 4rem;
}

.galleryContainer h1 {
    box-sizing: border-box;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    border-bottom: 0.125rem solid #a0526282;
}

.selectedWorks {
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.selectedWorksColumn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.columnRight {
    align-items: flex-start;
}

.columnLeft {
    align-items: flex-end;
}

.selectedWorksRow {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

.worksColumnsRow {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

@media (max-width: 1220px) {
    .outerArtwork {
        display: none;
    }
}

@media (max-width: 640px) {
    .selectedWorks {
        flex-direction: column;
    }
    .selectedWorksColumn {
        gap: 0.5rem;
    }
}

@media (max-width: 320px) {
    .selectedWorksContainer {
        padding: none;
    }
    .selectedWorks {
        padding: none;
        max-width: 100vw;
    }
}