.headerContainer {
    display: flex;
    color: black;
    background-color: transparent;
    box-sizing: border-box;
    padding: 1rem;
    position: fixed;
    top: 0;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}

.headerContainer h3 {
    color: #a05262;
    cursor: pointer;
}

.headerContainer ul {
    display: flex;
    gap: 1rem;
}

.headerContainer li {
    color: #a05262;
    list-style-type: none;
    cursor: pointer;
}

.headerContainer li:hover {
    color: #9c747c;
}

.headerContainer.scrolled {
    background-color: rgb(255 255 255 / 55%);
}

.headerLink {
    text-decoration: none;
}