.landingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #ffebeb;
}

.profilePicture {
    border-radius: 10rem;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.profileSubtext {
    display: flex;
    gap: 1rem;
}

.selectedWorksContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
}
